@using Entities
@using WebApp.Models
@model AwardModel


<div class="bg-info clearfix">
    <h1 class="h1 bottom-left">Awards</h1>
    <div class="row">
        <div class="col-md-4">

            <form class="menu" action="/Award/Add" method="post">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Tittle)
                </div>
                 <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.Tittle)
                                    @Html.ValidationMessageFor(model => model.Tittle, "",new {@class = "text-danger"})
                                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>


        </div>
    </div>
</div>
<table class="table">
    <tbody>
    @foreach (var award in (IEnumerable<Award>)@ViewData["Awards"])
    {
        <tr>
            <th scope="row">@award.IdAward</th>
            <td>@award.Tittle</td>
            <td>
                <div class="row">
                    <div class="col-sm-3">
                        <form action="/Award/Delete" method="post">
                            <input type="hidden" id="IdAward" name="IdAward" value="@award.IdAward">
                            <button class="btn btn-danger" type="submit" id="@award.IdAward" name="@award.IdAward">
                                Удалить
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>