@using WebApp.Models
@model WebApp.Models.CottageModelVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-body" style="padding-top: 10%">
    @using (Html.BeginForm("Add", "Cottage", FormMethod.Post))
    {
        <table class="table">
            <thead>
            <tr>
            <th scope="col">
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Номер коттеджа</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.CottageNumber)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Количество этажей</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.NumOfFloors)
                    </div>
                </div>
            </th>
            <th>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Площадь</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.SquareOfCottage)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Количество комнат</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.NumOfRooms)
                    </div>
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.IdOwner, new {htmlAttributes = new {@id = "idOwner", style = "visibility: hidden"}})
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Цена</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.Price)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Владелец</label>
                    <div class="col-2">
                        <select required onchange="document.getElementById('idOwner').value = this.value;">
                            <option selected></option>
                            @foreach (var owner in (IEnumerable<OwnerVm>) ViewData["Owners"])
                            {
                                <option label="@owner.OwnerName" value="@owner.IdOwner"></option>
                            }
                        </select>
                    </div>
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.IdStreet, new {htmlAttributes = new {@id = "idStreet", style = "visibility: hidden"}})
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Улица</label>
                    <div class="col-2">
                        <select required onchange="document.getElementById('idStreet').value = this.value;">
                            <option selected></option>
                            @foreach (var street in (IEnumerable<StreetVm>) ViewData["Streets"])
                            {
                                <option label="@street.StreetName, @street.CityName" value="@street.IdStreet"></option>
                            }

                        </select>
                    </div>
                </div>
            </th>
        </table>
        <div align="center" style="margin: 10px;padding: 10px">
            <input type="submit" value="Добавить" class="btn btn-primary"/>
        </div>
    }
</div>


<style>
.width-class{
width: 150px;
}
</style>