@using Entities
@using WebApp.Models
@model IEnumerable<CottageModelVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-info clearfix">
    <h1 class="h1 bottom-left">Коттеджы</h1>

</div>
@Html.ActionLink("Добавить коттедж", "AddCottage", "Cottage" , new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Фильтровать", "CottageFilter", "Cottage" , new { area = "" }, new { @class = "navbar-brand" })
<table class="table">
    <tbody>
    <thead>
    <tr>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Cottage", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.NUMBER)
                    <input type="submit" class="btn btn-primary btn-sm" value="№ коттеджа">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Cottage", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.FLOOR)
                    <input type="submit" class="btn btn-primary btn-sm" value="Кол-во этажей">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Cottage", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.SQUARE)
                    <input type="submit" class="btn btn-primary btn-sm" value="Площадь">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Cottage", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.ROOMS)
                    <input type="submit" class="btn btn-primary btn-sm" value="Кол-во комнат">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Cottage", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.PRICE)
                    <input type="submit" class="btn btn-primary btn-sm" value="Цена">
                }
            </div>
        </th>
        <th scope="col">
            Улица
        </th>
        <th scope="col">
            Город
        </th>
        <th></th>
    </tr>
    </thead>

    @foreach (var cottage in Model)
    {
        <tr>
            <td>@cottage.CottageNumber</td>
            <td>@cottage.NumOfFloors</td>
            <td>@cottage.SquareOfCottage кв.м.</td>
            <td>@cottage.NumOfRooms</td>
            <td>@cottage.Price руб.</td>
            <td>@cottage.Street</td>
            <td>@cottage.City</td>
            <td>
               @using (Html.BeginForm("Delete", "Cottage", FormMethod.Post)) {
                     @Html.Hidden("id", cottage.Id)
                    <input type="submit" class="btn btn-danger btn-sm" value="Удалить">
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
.width-class{
width: 150px;
}
</style>