@using WebApp.Models
@model WebApp.Models.FlatModelVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body" style="padding-top: 10%">
    @using (Html.BeginForm("Add", "Flat", FormMethod.Post))
    {
        <table class="table">
            <thead>
            <tr>
            <th scope="col">
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Номер квартиры</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.FlatNumber)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Номер этажа</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.FloorNumber)
                    </div>
                </div>
            </th>
            <th>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Площадь</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.SquareOfFlat)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Количество комнат</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.NumOfRooms)
                    </div>
                </div>
            </th>
            <th>
                 @Html.EditorFor(model => model.IdOwner, new {htmlAttributes = new {@id = "idOwner", style = "visibility: hidden"}})
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Цена</label>
                    <div class="col-2">
                        @Html.EditorFor(model => model.Price)
                    </div>
                </div>
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Владелец</label>
                    <div class="col-2">
                        <select required onchange="document.getElementById('idOwner').value = this.value;">
                            <option selected></option>
                            @foreach (var owner in (IEnumerable<OwnerVm>) ViewData["Owners"])
                            {
                                <option label="@owner.OwnerName" value="@owner.IdOwner"></option>
                            }
                        </select>
                    </div>
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.IdHouse, new {htmlAttributes = new {@id = "idHouse", style = "visibility: hidden"}})
                <div class="form-group row width-class">
                    <label class="col-2 col-form-label">Дом</label>
                    <div class="col-2">
                        <select required onchange="document.getElementById('idHouse').value = this.value;">
                            <option selected></option>
                            @foreach (var house in (IEnumerable<HouseVm>) ViewData["Houses"])
                            {
                                <option label="@house.HouseNum, @house.StreetName, @house.CityName" value="@house.IdHouse"></option>
                            }

                        </select>
                    </div>
                </div>
            </th>
        </table>
        <div align="center" style="margin: 10px;padding: 10px">
            <input type="submit" value="Добавить" class="btn btn-primary"/>
        </div>
    }
</div>

<style>
.width-class{
width: 150px;
}
</style>