@using Entities
@using WebApp.Models

@model IEnumerable<FlatModelVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-info clearfix">
    <h1 class="h1 bottom-left">Квартиры</h1>

</div>
@Html.ActionLink("Добавить квартиру", "AddFlat", "Flat" , new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Фильтровать", "FlatFilter", "Flat" , new { area = "" }, new { @class = "navbar-brand" })
<table class="table">
    <tbody>
    <thead>
    <tr>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Flat", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.NUMBER)
                    <input type="submit" class="btn btn-primary btn-sm" value="№ кваритры">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Flat", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.FLOOR)
                    <input type="submit" class="btn btn-primary btn-sm" value="№ этажа">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Flat", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.SQUARE)
                    <input type="submit" class="btn btn-primary btn-sm" value="Площадь">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Flat", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.ROOMS)
                    <input type="submit" class="btn btn-primary btn-sm" value="Кол-во комнат">
                }
            </div>
        </th>
        <th scope="col">
            <div>
                @using (Html.BeginForm("SortByField", "Flat", FormMethod.Post))
                {
                    @Html.Hidden("sortBy", SortBy.PRICE)
                    <input type="submit" class="btn btn-primary btn-sm" value="Цена">
                }
            </div>
        </th>
        <th scope="col">
            № дома
        </th>
        <th scope="col">
            Улица
        </th>
        <th scope="col">
            Город
        </th>
        <th></th>
    </tr>
    </thead>

    @foreach (var flat in Model)
    {
        <tr>
            <td>@flat.FlatNumber</td>
            <td>@flat.FloorNumber</td>
            <td>@flat.SquareOfFlat кв.м.</td>
            <td>@flat.NumOfRooms</td>
            <td>@flat.Price руб.</td>
            <td>@flat.House</td>
            <td>@flat.Street</td>
            <td>@flat.City</td>
            <td>
                <td>
                    @using (Html.BeginForm("Delete", "Flat", FormMethod.Post))
                    {
                        @Html.Hidden("id", flat.Id)
                        <input type="submit" class="btn btn-danger btn-sm" value="Удалить">
                    }
                </td>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
.width-class{
width: 150px;
}
</style>