@using Entities
@using WebApp.Models
@model UserModel


<div class="bg-info clearfix">
    <h1 class="h1 bottom-left">Users</h1>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Добавление пользователя
    </button>
    <div class="collapse" id="collapseExample">
        <div class="row">
            <div class="col-md-4">
                <form class="menu" action="/User/Add" method="post">
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Surname)
                                </div>
                                <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.Surname)
                                    @Html.ValidationMessageFor(model => model.Surname, "", new {@class = "text-danger"})
                                </div>
                            </th>
                            <th>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Name)
                                </div>
                                <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                            </th>
                            <th>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Patronymic)
                                </div>
                                <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.Patronymic)
                                    @Html.ValidationMessageFor(model => model.Patronymic, "", new {@class = "text-danger"})
                                </div>
                            </th>
                        </tr>
                        </tbody>
                        <tr>
                            <th>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.PhoneNumber)
                                </div>
                                <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.PhoneNumber)
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
                                </div>
                            </th>
                            <th>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.DateOfBirth)
                                </div>
                                <div class="editor-field">
                                    @Html.ValidationSummary(true)
                                    @Html.EditorFor(model => model.DateOfBirth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new {@class = "text-danger"})
                                </div>
                            </th>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">
        </th>
        <th scope="col">
            <form action="/User/SearchBySurname" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="SearchSurname" name="Surname" placeholder="Поиск по фамилии">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-sm">Search🔎</button>
                    </div>
                </div>
            </form>
        </th>
        <th scope="col">
            <form action="/User/SearchByName" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="SearchName" name="Name" placeholder="Поиск по имени">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-sm">Search🔎</button>
                    </div>
                </div>
            </form>
        </th>
        <th scope="col">
            <form action="/User/SearchByPatronymic" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="SearchPatronymic" name="Patronymic" placeholder="Поиск по отчеству">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-sm">Search🔎</button>
                    </div>
                </div>
            </form>
        </th>
        <th scope="col">
        </th>
        <th scope="col">
        </th>
    </tr>
    </thead>
</table>
<table class="table">
    <thead>
    <tr>
        <th scope="col">
            <div>
                <form action="/User/SortByIdUser" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">№</button>
                </form>
            </div>
        </th>
        <th scope="col">
            <div>
                <form action="/User/SortBySurname" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Фамилия</button>
                </form>
            </div>
        </th>
        <th scope="col">
            <div>
                <form action="/User/SortByName" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Имя</button>
                </form>
            </div>
        </th>
        <th scope="col">
            <div>
                <form action="/User/SortByPatronymic" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Отчество</button>
                </form>
            </div>
        </th>
        <th scope="col">
            Номер телефона
        </th>
        <th scope="col">
            <div>
                <form action="/User/SortByDateOfBirth" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Дата рождения</button>
                </form>
            </div>
        </th>
        <th scope="col">
            Награды
        </th>
        <th scope="col">
            Actions
        </th>
            
    
    </tr>
    </thead>
    <tbody>
        
    @foreach (var user in (IEnumerable<User>)@ViewData["Users"])
    {
        <tr>
            <th scope="row">@user.IdUser</th>
            <td>@user.Surname</td>
            <td>@user.Name</td>
            <td>@user.Patronymic</td>
            <td>@user.PhoneNumber</td>
            <td>@user.DateOfBirth.ToString("dd.MM.yyyy")</td>
            <td>
                @if (user.Awards != null)
                {
                    foreach (var award in user.Awards)
                    {
                        <label> @award.Tittle</label>
                    }
                }
            </td>
            <td>
                <div class="row">
                    <div class="dropleft ">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Изменить
                        </button>

                        <form class="dropdown-menu" action="/User/Edit" method="post">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <input type="hidden" id="IdUser" name="IdUser" value="@user.IdUser"/>
                                        <div class="form-group">
                                            <label for="Surname">Фамилия</label>
                                            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Surname" value="@user.Surname">
                                            <small class="form-text text-muted">
                                                Допустимы только буквы.
                                            </small>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="Name">Имя</label>
                                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@user.Name">
                                            <small class="form-text text-muted">
                                                Допустимы только буквы.
                                            </small>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="Patronymic">Отчество</label>
                                            <input type="text" class="form-control" id="Patronymic" name="Patronymic" placeholder="Patronymic" value="@user.Patronymic">
                                            <small class="form-text text-muted">
                                                Допустимы только буквы.
                                            </small>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="form-group">
                                            <label for="PhoneNumber">Телефон</label>
                                            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" value="@user.PhoneNumber">
                                            <small class="form-text text-muted">
                                                Допустимы только цифры.
                                            </small>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="DateOfBirth">Дата рождения</label>
                                            <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" placeholder="DateOfBirth" value="@user.DateOfBirth.ToString("dd.MM.yyyy")">
                                            <small class="form-text text-muted">
                                                Допустимы только цифры.
                                            </small>
                                            <input type="hidden" class="form-control" id="Awards" name="Awards" placeholder="Awards" value="@user.Awards">
                                        </div>
                                    </th>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <form action="/User/Delete" method="post">
                        <input type="hidden" id="IdUser" name="IdUser" value="@user.IdUser">
                        <button class="btn btn-danger" type="submit" id="@user.IdUser" name="@user.IdUser">
                            Удалить
                        </button>
                    </form>
                    
                </div>
               
                <div class="row">
                   
                    <div class="dropleft">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Добавить награду <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @if (user.Awards != null)
                            {
                                foreach (var award in (IEnumerable<Award>) @ViewData["Awards"])
                                {
                                    <form action="/User/AddAward" method="post">
                                        <input type="hidden" id="IdAward" name="IdAward" value="@award.IdAward">
                                        <input type="hidden" id="IdUser" name="IdUser" value="@user.IdUser">
                                        <button class="btn btn-default" type="submit">
                                            @award.Tittle
                                        </button>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
          
               
            </td>
        </tr>
    }
    </tbody>
</table>